<h2>DESCRIPTION</h2>

<p><em>t.rast.in.gpm</em> is a tool to download, re-project and import data from the NASA/JAXA GPM satellite mission. <br>
(IMERG products - version: 03 or 04) <br>
The module will only download the area covered by your GRASS Region.</p>

<p>It only imports the level 3 IMERG v03 or v04 merged satellite-gauge precipitation (variables: <em>precipitation</em> for monthly data or <em>precipitationCal</em> for half-hourly and daily data)<br>
The products that can be downloaded are the following:</p>

<ul>
<li>3IMERGHHE: Half-hourly early</li>
<li>3IMERGHHL: Half-hourly late</li>
<li>3IMERGHH: Half-hourly final</li>
<li>3IMERGDE: Daily early</li>
<li>3IMERGDL: Daily late</li>
<li>3IMERGDF: Daily final</li>
<li>3IMERGM: Monthly</li>
</ul>

<p>For the module to properly work, the following is needed:</p>

<ul>
<li>The <a href="http://docs.python-requests.org/en/master/">requests</a> Python module</li>
<li>The <a href="http://nco.sourceforge.net/">NCO NetCDF toolbox</a>, especially the <em>ncpdq</em> executable</li>
<li>Having a NASA Earthdata login</li>
<li><a href="https://disc.gsfc.nasa.gov/registration/authorizing-gesdisc-data-access-in-earthdata_login">Authorize NASA GESDISC DATA ARCHIVE in Earthdata Login</a></li>
<li><a href="https://disc.gsfc.nasa.gov/recipes/?q=recipes/How-to-Download-Data-Files-from-HTTP-Service-with-wget">Fill-up the .netrc file in your home directory</a></li>
</ul>

<h2 id="author">AUTHOR</h2>

<p>Laurent G. Courty, Instituto de Ingeniería UNAM, México<br>
Roberta K. M. Kurek, Instituto de Ingeniería UNAM, México</p>
